mixin e-picture(context = {})
    //-
        Source
        {
            path: String,
            [media: String(See below for example),]
            [break: String(Breakpoint Abbreviation)]
        }

        Picture
        {
            [srcs: Array<Source>,]
            [src: String,]
            alt: String,
            [url: String]
        }

    - sources = context.srcs || [{'path': context.src}];

    picture(class= prefix('picture'))&attributes(attributes, attrs(context))
        each source in sources
            source(srcset= source.path, media= (source.media || (source.break ? `(min-width: ${self.config.breakpoints[source.break]}px)` : '(min-width: 0px)')))
        img.img-fluid(srcset= sources[0].path, alt= context.alt)
        if context.url
            a(href= context.url, class= prefix('cover'))

+u-example({'type': ExampleTypes.ELEMENT})
    +p-label('Picture')
    +e-picture({
        'srcs': [
            {
                'path': 'http://placehold.it/1400x700',
                'media': `(min-width: ${self.config.breakpoints.xl}px)`
            },
            {
                'path': 'http://placehold.it/992x496',
                'break': 'md'
            },
            {
                'path': 'http://placehold.it/768x384'
            }
        ],
        'alt': 'Curabitur Suscipit'
    })

+u-example({'type': ExampleTypes.ELEMENT})
    +p-label('Picture')
    +e-picture({
        'src': 'http://placehold.it/992x496',
        'alt': 'Curabitur Suscipit',
        'url': 'javascript:void(0)'
    })
