mixin e-icon(context = {})
    //-
        Accepts String shorthand

        Icon
        {
            name: String
        }

    - context = isShorthand(context) ? {'name': context} : context;
    
    i(class= prefix('icon', `icon-${context.name}`))&attributes(attributes, attrs(context))
        svg
            use(xlink:href= `#icon-${context.name}`)