//- https://css-tricks.com/svg-symbol-good-choice-icons/
//- https://github.com/w0rm/gulp-svgstore
//- http://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/
//- https://github.com/w0rm/gulp-svgstore/issues/15#issuecomment-59629347

mixin e-icon(name)
    div(class= prefix('icon', `icon-${name}`))
