mixin e-link(options)
    - options = options || {}
    - options.__class = options.__class || ''
    - options.text = options.text || ''

    a(class=options.__class)&attributes(attributes)
        if block
            block
        else
            != options.text