mixin e-picture(context = {})
    picture(class= prefix('picture'))
        source(srcset="http://dummyimage.com/300x150")
        img(srcset="http://dummyimage.com/300x150")

    //- picture(class= prefix('picture'))
    //-     if context.srcs
    //-         if context.srcs.length > 1
    //-             each src in context.srcs
    //-                 source(srcset= src.path media= src.media)
    //-             - src = context.srcs[context.default || 0]
    //-             img(srcset= src.path alt= context.alt)
    //-         else
    //-             - src = context.srcs[context.default || 0]
    //-             source(srcset= src.path media= src.media)
    //-             img(srcset= src.path alt= context.alt)
    //-     if context.url
    //-         a(href= context.url class= prefix('layer'))
