mixin g-row(context = {})
    //-
        Accepts block implementation which outputs to each column

        Row
        {
            [columns: Array<Object>,]
            [cols: Array<Object>,]
        }

    .row&attributes(attributes, attrs(context))
        each column in (context.columns || context.cols || [])
            div&attributes(attrs(column))
                +u-contents(column)
                - block()