mixin g-cols(context = {})
    //-
        Accepts context-less, block implementation which outputs a single column

        Row
        {
            cols: Array<Object>
        }

    if !block
        .row&attributes(attributes, attrs(context))
            each col in (row.cols || [])
                div&attributes(attrs(col.attributes))
                    +u-contents(col)
    else
        .row
            .col-xs-12
                block