include ../elements/link

<!--[if lt IE 9]>
p.legacy
    | You are using an 
    strong outdated
    |  browser. Please 
    +link()(href="http://browsehappy.com/")
        | upgrade your browser
    |  to improve your experience.
<![endif]-->