mixin g-picture(context = {})
    picture(class= prefix('picture'))&attributes(attributes, attrs(context.attributes))
        if context.srcs
            if context.srcs.length > 1
                each src in context.srcs
                    source(srcset= src.path, media= src.media)
                - src = context.srcs[context.default || 0]
                img.img-fluid(srcset= src.path, alt= context.alt)
            else
                - src = context.srcs[context.default || 0]
                source(srcset= src.path, media= src.media)
                img.img-fluid(srcset= src.path, alt= context.alt)
        if context.src
            source(srcset= context.src)
            img.img-fluid(srcset= context.src, alt= context.alt)
        if context.url
            a(href= context.url, class= prefix('layer'))