+u-block('search')
    .form-group
        .input-group.input-group-lg
            input.form-control(type="text", placeholder="Ask and you shall receive")
            .input-group-btn
                a.btn.btn-primary(href="/search/results") Search