// http://v4-alpha.getbootstrap.com/components/buttons/

.btn {
    
}

.#{prefix('cover')} {
    display: block;
    background: transparentize($color-black, 0.999);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}