* {
    outline: 0 !important;
}

html {
    -xs-overflow-style: none;
    overflow-x: hidden;
    overflow-y: auto;
}

##{prefix('breakpoint')} {
    font-family: 'xs';
}

[href^="tel:"] {
    white-space: nowrap;
}

button {
    cursor: pointer;
}

label {
    display: block;
}

picture {
    display: block;
}

small {
    display: inline-block;
    line-height: 1.2;
}

strong {
    font-weight: $font-weight-bold;
}

sup {
    font-size: 60%;
}

textarea {
    min-height: 150px;
}

.#{prefix('hidden')} {
    display: none !important;
}

.#{prefix('cover')} {
    display: block;
    background: transparentize($color-black, 0.999);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.#{prefix('blend')} {
    text-decoration: none;
    color: currentColor;

    &:hover,
    &:active {
        text-decoration: none;
        color: currentColor;
    }
}

@include media-breakpoint-up(sm) {
    ##{prefix('breakpoint')} {
        font-family: 'sm';
    }
}

@include media-breakpoint-up(md) {
    ##{prefix('breakpoint')} {
        font-family: 'md';
    }
}

@include media-breakpoint-up(lg) {
    ##{prefix('breakpoint')} {
        font-family: 'lg';
    }
}

@include media-breakpoint-up(xl) {
    ##{prefix('breakpoint')} {
        font-family: 'xl';
    }
}

@include media-breakpoint-up(dx) {
    ##{prefix('breakpoint')} {
        font-family: 'dx';
    }
}

@include media-breakpoint-up(tx) {
    ##{prefix('breakpoint')} {
        font-family: 'tx';
    }
}