.#{prefix('picture')} {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
    }

    &.#{prefix('auto')} {
        vertical-align: middle;
        
        img {
            width: auto;
        }
    }    
}

.#{prefix('picture-bg')} {
    position: relative;

    & > .#{prefix('picture')} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        img {
            width: auto;
            min-width: 101%;
            max-width: 300%;
            min-height: 101%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}