.#{$prefix}-icon-facebook {
    &:after {
        padding-bottom: (10/10) * 100%;
    }
}
.#{$prefix}-icon-google-plus {
    &:after {
        padding-bottom: (10/10) * 100%;
    }
}
.#{$prefix}-icon-instagram {
    &:after {
        padding-bottom: (10/10) * 100%;
    }
}
.#{$prefix}-icon-linkedin {
    &:after {
        padding-bottom: (10/10) * 100%;
    }
}
.#{$prefix}-icon-rss {
    &:after {
        padding-bottom: (10/10) * 100%;
    }
}
.#{$prefix}-icon-twitter {
    &:after {
        padding-bottom: (10/10) * 100%;
    }
}
.#{$prefix}-icon-youtube {
    &:after {
        padding-bottom: (10/10) * 100%;
    }
}
