.#{page('style-guide')} {
    .#{prefix('label')} {
        margin-bottom: $spacer / 2;
        display: block;
        @include font-size(24px);
        color: $color-dark-gray;
    }
    .#{prefix('style-guide-item')} {
        border: 1px solid grey;
    }
}
