.#{page('style-guide')} {
    .#{prefix('label')} {
        margin-bottom: $spacer / 2;
        display: block;
        @include font-size(24px);
        color: $color-dark-gray;
    }
    .#{prefix('style-guide-item')} {
        border: 1px solid grey;
        margin-bottom: 30px;
    }
    .#{prefix('style-guide-item-html')} {
        position: relative;
        .btn {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
            border-radius: 0;
        }
    }
    pre[class*="language-"] {
        box-shadow: none;
        border-left: 0;
        border-top: 1px solid grey;
        background-image: none;
        padding-top: 40px;
        &:before,
        &:after {
            height: 0;
        }
    }
    code {
        .tag {
            font-size: 100%;
            white-space: nowrap;
            padding: 0;
            display: inline;
        }
    }
}
