include ./includes

mixin contents(context)
    if context.contents
        each item in context.contents
            +contents(item)
    else if context.component
        +includes(context.component, context)
    else if context.group
        +includes(context.group, context)
    else if context.element
        +includes(context.element)
    else if context.content
        != context.content