@function prefix($str) {
    @return '#{$prefix}-#{$str}';
}

@function page($str) {
    @return prefix('page-#{$str}');
}

@function sqrt($r) {
    $x0: 1;
    $x1: $x0;
 
    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }
 
    @return $x1;
}

@mixin background-gradient($start, $stop, $dir) {
    background-image: linear-gradient($dir, $start 0%, $stop 100%);
}

@mixin border-gradient($start, $stop, $dir) {
    border-image: linear-gradient($dir, $start 0%, $stop 100%);
    border-image-slice: 1;
}

@mixin font-size($size, $lead: ($size + 4) / $size, $root: $font-size-root) {
    font-size: $size;
    font-size: ($size / $root) + rem;
    line-height: $lead;
}