%sprite-icon {
    width: 1em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: currentColor;

    &:after {
        content: '';
        width: 100%;
        height: 0;
        display: block;
    }

    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        fill: currentColor;
    }
}

{{#shapes}}
.#{$prefix}-{{name}} {
    @extend %sprite-icon;

    &:after {
        padding-bottom: ({{height.outer}}/{{width.outer}}) * 100%;
    }
}
{{/shapes}}