+u-block('footer')
    footer(class= prefix('footer'))
        .container
            .row
                .col-xs-12
                    ul.list-inline
                        li.list-inline-item
                            a(href="javascript:void(0)")
                                +e-icon('facebook')
                                span.sr-only Facebook
                        li.list-inline-item
                            a(href="javascript:void(0)")
                                +e-icon('google-plus')
                                span.sr-only Google+
                        li.list-inline-item
                            a(href="javascript:void(0)")
                                +e-icon('instagram')
                                span.sr-only Instagram
                        li.list-inline-item
                            a(href="javascript:void(0)")
                                +e-icon('linkedin')
                                span.sr-only LinkedIn
                        li.list-inline-item
                            a(href="javascript:void(0)")
                                +e-icon('rss')
                                span.sr-only RSS
                        li.list-inline-item
                            a(href="javascript:void(0)")
                                +e-icon('twitter')
                                span.sr-only Twitter
                        li.list-inline-item
                            a(href="javascript:void(0)")
                                +e-icon('youtube')
                                span.sr-only YouTube
