mixin m-grid(context = {})
    //-
        Accepts context-less, block implementation which outputs a single row, single column

        Grid
        {
            [container: Object,]
            rows: Array<Row>
        }

    - container = context.container || {};

    .container-fluid&attributes(attributes, attrs(context))
        .row
            .container&attributes(attrs(container))
                if !block
                    each row in (context.rows || [])
                        +g-cols(row)
                else
                    +g-cols
                        block