mixin m-legacy
    <!--[if lt IE 9]>
    p(class= prefix('legacy'))
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href="http://browsehappy.com/") upgrade your browser
        |  to improve your experience.
    <![endif]-->