mixin c-accordion(context = {})
    //-
        Accordion
        {
            [parent: String,]
            [expanded: Boolean,]
            [id: String,]
            headline: String | Object,
            details: String | Object
        }

    - id = context.id || random();

    .card(class= prefix('accordion'))&attributes(attributes, attrs(context))
        .card-header(class= prefix('accordion-headline'))
            h5
                a(href="javascript:void(0)")&attributes(flatten({'data': {'toggle': 'collapse', 'target': `#${id}`}, 'aria': {'expanded': (!!context.expanded).toString()}}), context.parent ? attrs({'data': {'parent': context.parent}}) : undefined)
                    +u-contents(context.headline)
        .collapse(class= prefix('accordion-details'), id= id, role="tabpanel")&attributes(context.expanded ? {'class': 'in'} : undefined)
            .card-block
                if isShorthand(context.details)
                    p
                        +u-contents(context.details)
                else
                    +u-contents(context.details)