mixin c-grid(context = {})
    .container-fluid&attributes(context.attributes)
        .row
            .container
                each row in context.rows
                    .row&attributes(row.attributes)
                        each column in row.columns
                            div&attributes(column.attributes)
                                +u-contents(column)