mixin c-grid(context = {})
    .container-fluid&attributes(attributes, attrs(context.attributes))
        .row
            - container = context.container || {};
            .container&attributes(attrs(container.attributes))
                each row in context.rows
                    .row&attributes(attrs(row.attributes))
                        each column in row.columns
                            div&attributes(attrs(column.attributes))
                                +u-contents(column)