mixin c-header
    mixin nav-item(context, text)
        li.nav-item(class= (!self.page && text == 'home') || (self.page && context.path == self.page.path) ? 'active' : '')
            a.nav-link(href= baseUrl + context.path)= text
    
    header(class= prefix('header'))
        nav.navbar.navbar-light.bg-faded
            ul.nav.navbar-nav
                +nav-item({'path': ''}, 'home')
                each item, key in self.data.pages
                    +nav-item(item, key)