mixin c-hero(context)
    .container-fluid(class= prefix('hero'))
        .row
            .container
                .row
                    .col-xs-12.col-md-6
                        h1= context.headline
                        p.lead= context.paragraph
                        +e-picture()
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('account')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('add-to-playlist')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('cancel')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('caret-down')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('caret-left')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('caret-right')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('ellipsis')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('heart-outline')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('heart')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('play')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('player-back')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('player-forward')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('player-pause')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('search')
                        div(style="width:50%;margin-bottom:30px;")
                            +e-icon('share')
