mixin c-hero(context = {})
    .container-fluid(class= prefix('hero'))
        .row
            .container
                .row
                    .col-xs-12.col-md-6
                        h1= context.headline
                        p.lead= context.paragraph
                        +e-picture()
                        div
                            +e-icon('account')
                        p
                            +e-icon('add-to-playlist')
                        a(href='javascript:void(0)')
                            span Cancel
                            +e-icon('cancel')
                        +e-icon('caret-left')
                        +e-icon('caret-down')
                        +e-icon('caret-right')
                        +e-icon('ellipsis')
                        +e-icon('heart-outline')
                        +e-icon('heart')
                        +e-icon('play')
                        +e-icon('player-back')
                        +e-icon('player-forward')
                        +e-icon('player-pause')
                        +e-icon('search')
                        +e-icon('share')
