//- Custom Configuration
block config
    //- Setup site's base URL to match the "baseUrl" key within `package.json`
    //- Otherwise default to relative pathing
    - baseUrl = self.config.baseUrl || './';

include ../utilities/+helpers
include ../utilities/+contents
include ../utilities/+example
include ../utilities/+block
include ../utilities/+includes

doctype html

<!--[if lte IE 8]>
<html class="lt-ie-9 lt-ie-10 no-js" lang="en">
<![endif]-->
<!--[if lte IE 9]>
<html class="lt-ie-10 no-js" lang="en">
<![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

head
    meta(charset="utf-8")
    meta(id= prefix('breakpoint'))
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content= self.page && self.page.description ? self.page.description : self.data.global.description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="format-detection", content="telephone=no")

    link(rel="apple-touch-icon", sizes="57x57", href="/images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/images/favicon/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192",  href="/images/favicon/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/images/favicon/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")

    title= self.page && self.page.title ? `${self.data.global.title} | ${self.page.title}` : self.data.global.title

    block styles
        link(rel="stylesheet", href= baseUrl + "styles/main.vendor.css")
        link(rel="stylesheet", href= baseUrl + "styles/main.custom.css")

body(class= (self.page ? prefix('page', (self.page.class ? 'page-' + self.page.class : undefined)) : undefined))
    +u-block('legacy')

    .sr-only
        include ../sprite.svg

    block body

    block scripts
        script(src= baseUrl + "scripts/main.vendor.js")
        script(src= baseUrl + "scripts/main.custom.js")

</html>