//- Custom Configuration
block config
    //- Setup site's base URL to match the "baseUrl" key within `package.json`
    //- Otherwise default to relative pathing
    - baseUrl = config.baseUrl || './'

include ../../utilities/includes
include ../../utilities/contents

doctype html

<!--[if lt IE 9]>
<html class="lt-ie9 no-js" lang="en">
<![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

- title = data.global.title || ''
- description = data.global.description || ''

head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content= description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title= title

    block styles
        link(rel="stylesheet", href= baseUrl + "styles/main.vendor.css")
        link(rel="stylesheet", href= baseUrl + "styles/main.custom.css")

body
    +g-legacy

    block body

block scripts
    script(src= baseUrl + "scripts/main.js")

</html>