-
    const ExampleTypes = {
        'ELEMENT': 'ELEMENT',
        'GROUP': 'GROUP',
        'COMPONENT': 'COMPONENT',
        'MODULE': 'MODULE',
        'UTILITY': 'UTILITY'
    };

    self.examples = {
        'ELEMENT': [],
        'GROUP': [],
        'COMPONENT': [],
        'MODULE': [],
        'UTILITY': []
    };

mixin u-example(context = {})
    //-
        Block content is required. It will be attached to the provided context and pushed to cooresponding example list.

        Example
        {
            type: String(ExampleType)
        }

    -
        context.block = random();

        self.examples[context.type].push(context);

    +u-block(context.block)
        block