//- Do not manually edit this file. It is auto-updated during the inject gulp task.
//- inject:pug

include ../elements/+blockquote.pug

include ../elements/+icon.pug

include ../elements/+picture.pug

include ../elements/+placeholder-label.pug

include ../elements/+price.pug

include ../elements/+radio-checkbox.pug

include ../elements/+select.pug

include ../elements/+switch.pug

include ../elements/+video.pug

include ../components/+accordion.pug

include ../components/+card.pug

include ../components/+carousel.pug

include ../components/+collapse.pug

include ../components/search-result.pug

include ../groups/+dropdown.pug

include ../groups/+nav.pug

include ../groups/+row.pug

include ../groups/+table.pug

include ../groups/search.pug

include ../modules/+grid.pug

include ../modules/+hero.pug

include ../modules/footer.pug

include ../modules/header.pug

include ../modules/legacy.pug

//- endinject