mixin u-contents(context = {})
    - selfClosing = ['br', 'hr', 'input', 'img', 'link', 'meta'];
    if isShorthand(context)
        != context
    else if isObject(context)
        each val, key in context
            if /^content(~[\w-]+)?$/.test(key)
                != val
            else if /^\+/.test(key)
                -
                    let className;
                    let [, template] = /\+([\w-]+)/.exec(key);
                    let options = key.match(/([~\.][\w-]+)/g) || {};
                    
                    if (!!options.length) {
                        options.some((option) => /^\./.test(option) ? !!(className = option.slice(1)) : false)
                    }
                if /-/.test(template)
                    +#{template}(val)(class= className)
                else
                    if selfClosing.indexOf(template) >= 0
                        #{template}(class= className)&attributes(attrs((val || {})))/
                    else
                        #{template}(class= className)&attributes(attrs((val || {})))
                            +u-contents(val)