//- inject:pug

include ../components/_accordion.pug

include ../components/_carousel.pug

include ../components/_collapse.pug

include ../groups/_row.pug

include ../groups/_table.pug

include ../elements/_icon.pug

include ../elements/_picture.pug

include ../elements/_placeholder-label.pug

include ../elements/_radio-checkbox.pug

include ../elements/_select.pug

include ../elements/_switch.pug

include ../elements/_video.pug

include ../modules/footer.pug

include ../modules/header.pug

include ../modules/legacy.pug

include ../modules/_grid.pug

include ../modules/_hero.pug

//- endinject