mixin u-contents(context = {})
    if isShorthand(context)
        != context
    else if isObject(context)
        each val, key in context
            if /^\+/.test(key)
                -
                    let attributes = {};
                    let [, template] = /\+([\w-]+)/.exec(key);
                    let args = key.match(/([~#\.][\w-]+)/g);

                    if(args) {
                        args.forEach((arg) => {
                            let regId = /#([\w-]+)/;
                            let regClass = /\.([\w-]+)/;

                            if(regId.test(arg)) {
                                attributes.id = arg.slice(1);
                            } else if(regClass.test(arg)) {
                                attributes.class = attributes.class ? `${attributes.class} ${arg.slice(1)}` : arg.slice(1);
                            }
                        });
                    }
                if /-/.test(key)
                    +#{template}(val)(class= attributes.class, id= attributes.id)
                else
                    #{template}&attributes(attributes, attrs(val.attributes))
                        +u-contents(val)
            else if key == 'contents'
                each content in val
                    +u-contents(content)
            else if key == 'content'
                != val