mixin u-contents(context = {})
    if context.template
        +#{context.template}(context)
    else if context.element
        -
            element = context.element;
            delete context.element;
        #{element}&attributes(attrs(context.attributes))
            +u-contents(context)
    else if context.contents
        each content in context.contents
            +u-contents(content)
    else if context.content
        != context.content
    else if isShorthand(context)
        != context
    else if isObject(context)
        each val, key in context
            if /^\+/.test(key)
                - key = key.slice(1);
                if /-/.test(key)
                    +#{key}(val)
                else
                    #{key}&attributes(attrs(val.attributes))
                        +u-contents(val)