mixin u-contents(context)
    if context.contents
        each item in context.contents
            +u-contents(item)

    else if context.template
        +#{context.template}(context)
    
    else if context.content
        != context.content