-
    function lowerDash(str = '') {
        return str.trim().toLowerCase().replace(/[\s_]/g, '-');
    }

    function prefix(...strings) {
        return strings
            .map((str) => {
                return `${config.prefix}-${lowerDash(str)}`;
            })
            .join(' ');
    }

    function attrs(pre, obj) {
        Object.keys(obj).map((key) => {
            obj[`${lowerDash(pre)}-${key}`] = obj[key];
            delete obj[key];
        });

        return obj;
    }