//- inject:pug
include ../groups/legacy.pug
include ../components/example.pug
include ../components/footer.pug
include ../components/grid.pug
include ../components/header.pug
include ../components/hero.pug
include ../components/tile.pug
include ../elements/icon.pug
include ../elements/picture.pug
//- endinject
