//- inject:pug

include ../components/accordion.pug

include ../components/carousel.pug

include ../elements/icon.pug

include ../elements/picture.pug

include ../elements/placeholder-label.pug

include ../elements/radio-checkbox.pug

include ../elements/select.pug

include ../elements/switch.pug

include ../elements/video.pug

include ../groups/cols.pug

include ../modules/footer.pug

include ../modules/grid.pug

include ../modules/header.pug

include ../modules/hero.pug

include ../modules/legacy.pug

//- endinject