extends _templates/layouts/_base

block body
    -
        pages = self.data.pages || {};
        pages = pathsort(Object.keys(pages).map((key) => pages[key]));

    +u-block('index')
        h1
            +u-contents(self.data.global.title)
        h2 Pages
        ul.list-unstyled
            each page in pages
                li
                    a(href= page.path)
                        +u-contents(page.title)
        h2 Global
        a(href="/style-guide") Style Guide

    +m-grid({
        'rows': [
            {
                'cols': [
                    {
                        'attrs': {
                            'class': 'col-xs-12'
                        },
                        'block': 'index'
                    }
                ]
            }
        ]
    })