extends _templates/layouts/_base

block body
    +m-grid
        h1
            +u-contents(self.data.global.title)
        h2 Pages
        ul.list-unstyled
            each page in self.data.pages
                li
                    a(href= page.path)
                        +u-contents(page.title)
        h2 Global
        a(href="/style-guide") Style Guide
