extends _templates/layouts/+base

block body
    -
        pages = self.data.pages || {};
        pages = Object.keys(pages).map((key) => pages[key]);
        pages = pages.sort((a, b) => {
            a = a.path.split('/');
            b = b.path.split('/');

            let l = Math.max(a.length, b.length);
            
            for (let i = 0; i < l; i += 1) {
                if (!(i in a)) {return -1;}
                if (!(i in b)) {return +1;}
                if (a[i].toUpperCase() > b[i].toUpperCase()) {return +1;}
                if (a[i].toUpperCase() < b[i].toUpperCase()) {return -1;}
                if (a.length < b.length) {return -1;}
                if (a.length > b.length) {return +1;}
            }
        });

    +u-block('index')
        h1
            +u-contents(self.data.global.title)
        h2 Pages
        ul.list-unstyled
            each page in pages
                li
                    a(href= page.path)
                        +u-contents(page.title)
        h2 Global
        a(href="/style-guide") Style Guide

    +m-grid({
        'rows': [
            {
                'cols': [
                    {
                        'attrs': {
                            'class': 'col-xs-12'
                        },
                        'block': 'index'
                    }
                ]
            }
        ]
    })