extends ../_templates/layouts/shell

append config
    -
        self.page = {
            'title': 'Style Guide',
            'class': 'style-guide'
        };

block content

    mixin p-label(context = {})
        label(class= prefix('label'))&attributes(attrs(context))
            +u-contents(context)

    mixin p-style-guide-item(context = {})
        div(data-style-guide-item, class= prefix('style-guide-item'))
            div
                block
            .fs-style-guide-item-html
                button#test-id.btn.btn-primary Copy
                pre.language-html
                    code.language-html

    .container-fluid
        .row
            .container
                .row
                    .col-xs-12
                        h1 Style Guide
                .row
                    .col-xs-12
                        h2 Global
                    .col-xs-12
                        +p-label('Typography')
                        +p-style-guide-item()
                            h1.display-1 Display Headline 1
                        +p-style-guide-item()
                            h1.display-2 Display Headline 2
                        +p-style-guide-item()
                            h1.display-3 Display Headline 3
                        +p-style-guide-item()
                            h1.display-4 Display Headline 4
                        +p-style-guide-item()
                            h1 Headline 1b
                        +p-style-guide-item()
                            h2
                                | Headline 2
                                small.text-muted Secondary
                        +p-style-guide-item()
                            h3
                                | Headline 3
                                small.text-muted Secondary
                        +p-style-guide-item()
                            h4
                                | Headline 4
                                small.text-muted Secondary
                        +p-style-guide-item()
                            h5
                                | Headline 5
                                span.text-muted Secondary
                        +p-style-guide-item()
                            h6
                                | Headline 6
                                span.text-muted Secondary
                        +p-style-guide-item()
                            p.lead Aenean tempor sagittis arcu ut euismod. Quisque mi ligula, mark suscipit ac nibh ac, luctus tempor tellus. Vivamus ultrices urna et mi laoreet, in elementum libero pulvinar.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .col-xs-12
                        +p-label('Lists')
                        +p-style-guide-item()
                            ul
                                li Maecenas erat justo
                                li Porta eget cursus nec
                                li Sagittis felis efficitur
                                li Nulla eget dui semper
                                li Mauris id ex sed
                        +p-style-guide-item()
                            ul.list-unstyled
                                li Maecenas erat justo
                                li Porta eget cursus nec
                                li Sagittis felis efficitur
                                li Nulla eget dui semper
                                li Mauris id ex sed
                        +p-style-guide-item()
                            ol
                                li Maecenas erat justo
                                li Porta eget cursus nec
                                li Sagittis felis efficitur
                                li Nulla eget dui semper
                                li Mauris id ex sed
                        +p-style-guide-item()
                            ol(type="a")
                                li Maecenas erat justo
                                li Porta eget cursus nec
                                li Sagittis felis efficitur
                                li Nulla eget dui semper
                                li Mauris id ex sed
                        +p-style-guide-item()
                            dl.row
                                dt.col-xs-3 Curabitur massa
                                dd.col-xs-9 Aliquam vehicula accumsan leo.
                                dt.col-xs-3 Porta eget
                                dd.col-xs-9 Aliquam vehicula accumsan leo.
                                dt.col-xs-3 Mauris id ex
                                dd.col-xs-9 Aliquam vehicula accumsan leo.
                    .col-xs-12
                        h2 Elements
                    .col-xs-12
                        +p-label('Buttons')
                        +p-style-guide-item()
                            button.btn.btn-primary Primary
                        +p-style-guide-item()
                            button.btn.btn-outline-primary Primary
                        +p-style-guide-item()
                            button.btn.btn-secondary Secondary
                        +p-style-guide-item()
                            button.btn.btn-outline-secondary Secondary
                        +p-style-guide-item()
                            button.btn.btn-success Success
                        +p-style-guide-item()
                            button.btn.btn-outline-success Success
                        +p-style-guide-item()
                            button.btn.btn-info Info
                        +p-style-guide-item()
                            button.btn.btn-outline-info Info
                        +p-style-guide-item()
                            button.btn.btn-warning Warning
                        +p-style-guide-item()
                            button.btn.btn-outline-warning Warning
                        +p-style-guide-item()
                            button.btn.btn-danger Danger
                        +p-style-guide-item()
                            button.btn.btn-outline-danger Danger
                        +p-style-guide-item()
                            button.btn.btn-link Link
                        +p-style-guide-item()
                            button.btn.btn-primary.btn-lg Large
                        +p-style-guide-item()
                            button.btn.btn-primary Regular
                        +p-style-guide-item()
                            button.btn.btn-primary.btn-sm Small
                        +p-label('Forms')
                        +p-style-guide-item()
                            .form-group
                                label(for="ex-text-input-1") Text Input
                                input.form-control(type="text", id="ex-text-input-1")
                        +p-style-guide-item()
                            .form-group
                                label(for="ex-textarea") Textarea
                                textarea.form-control(id="ex-textarea")
                        +p-style-guide-item()
                            .form-group
                                .form-check-inline
                                    label.form-check-label
                                        input.form-check-input(type="radio", name="ex-radio-1")
                                        |  Radio 1
                                .form-check-inline
                                    label.form-check-label
                                        input.form-check-input(type="radio", name="ex-radio-1")
                                        |  Radio 2
                                .form-check-inline
                                    label.form-check-label
                                        input.form-check-input(type="radio", name="ex-radio-1")
                                        |  Radio 3
                        +p-style-guide-item()
                            .form-group
                                .form-check-inline
                                    label.form-check-label
                                        input.form-check-input(type="checkbox")
                                        |  Checkbox 1
                                .form-check-inline
                                    label.form-check-label
                                        input.form-check-input(type="checkbox")
                                        |  Checkbox 2
                                .form-check-inline
                                    label.form-check-label
                                        input.form-check-input(type="checkbox")
                                        |  Checkbox 3
                        +p-style-guide-item()
                            .form-group
                                select.form-control
                                    option Option 1
                                    option Option 2
                                    option Option 3
                    each example in self.examples[ExampleTypes.ELEMENT]
                        +p-style-guide-item()
                            +u-contents(example)
                .row
                    .col-xs-12
                        h2 Groups
                    each example in self.examples[ExampleTypes.GROUP]
                        .col-xs-12.col-md-6.col-xl-4&attributes(flatten({'data': {'equal': {'group': 'style-guide-groups', 'min': self.config.breakpoints.md}}}))
                            +p-style-guide-item()
                                +u-contents(example)
                .row
                    .col-xs-12
                        h2 Components
                    each example in self.examples[ExampleTypes.COMPONENT]
                        .col-xs-12
                            +p-style-guide-item()
                                +u-contents(example)
                .row
                    .col-xs-12
                        h2 Modules
    each example in self.examples[ExampleTypes.MODULE]
        +p-style-guide-item()
            +u-contents(example)
